body {
    margin: 0;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
.footer{
    background:#2e3192;
    color:white;
    padding:40px 60px;
    font-family:sans-serif;
  }
  
  .footer-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
  }
  
  /* LEFT */
  .footer-left{
    display:flex;
    align-items:center;
    gap:25px;
  }
  
  .footer-logo{
    width:120px;
  }
  
  /* CENTER */
  .footer-center{
    max-width:400px;
  }
  
  /* ITEMS */
  .footer-item{
    display:flex;
    align-items:flex-start;
    gap:15px;
    margin-top:15px;
  }
  
  .footer-icon{
    font-size:26px;
    margin-top:5px;
  }
  
  /* RIGHT SOCIALS */
  .footer-right{
    display:flex;
    gap:25px;
    font-size:40px;
  }
  
  .footer-right a{
    color:white;
    transition:0.3s;
  }
  
  .footer-right a:hover{
    opacity:0.7;
  }
  
  /* COPYRIGHT */
  .footer-bottom{
    margin-top:40px;
    text-align:center;
    font-size:18px;
    opacity:0.9;
  }